#overlay
{
  position: absolute;
  top: 30px;
  left: 50px;
  text-align: center;
  font-size: 20px;
  width: 100px;
  display:none;
  background: #ef8913;
  border-radius: 600%;
  z-index:  200000000;
}

#overlay2
{
   position: absolute;
   top : 30px;
   left : 30px;
   display:none;
  height:30px;
  width:20px;
  padding: 10px 0;
  z-index: 20000000000;
}
#mudo
{
  position: absolute;
  height:50px;
  width:50px;
}
